**
!Dockerfile
!LICENSE
!NOTICE.md
!README.md
!requirements-*.txt
!package.json
!src/
!src/**
!schemas/
!schemas/**
!prompts/
!prompts/**
!skill-packs/
!skill-packs/v1/
!skill-packs/v1/**
!scripts/
!scripts/prepare_deploy_runtime.py
!mvp-web/
!mvp-web/package.json
!mvp-web/package-lock.json
!mvp-web/app/
!mvp-web/app/**
!mvp-web/public/
!mvp-web/public/**
!mvp-web/next.config.ts
!mvp-web/vite.config.ts
!mvp-web/tsconfig.json
!mvp-web/next-env.d.ts
!mvp-web/postcss.config.mjs
**/__pycache__/**
**/*.pyc
**/.env*
**/node_modules/**
**/.git/**
**/scripts/vendor/**
